.topbar{
    position: fixed;
    top:0;
    width:100%;
    left:0;
    right:0;
    z-index: 99;
    background-color: #fff;
    padding:0.5rem 2rem;
    height: 4rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .topbar-logo{
        display: flex;
        align-items: center;
        gap:5px;

        .logo{
            width:50px;
            height: 50px;
            border-radius: 100%;
        }
        .logo-title{
            font-size: 1.4rem;
        }
    }
    .user{
        display:flex;
        flex-direction: row;
        gap:5px;
        .user-first-letter{
            height: 30px;
            width:30px;
            background-color:rgb(245, 90, 33);
            border-radius: 100%;
            color:#fff;
            border: 1px solid orange;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .username{
            font-size: 1.2rem;
        }
    }
}