@import "../../style/responsive.scss";

.layout{
  display:flex;
  flex-direction: column;
  .lower-layout{
    display:flex;
    margin-top: 4rem;
    .layout-outlet{
      // flex:1;
      width:100%;
      overflow: auto;
      background-color:#eee;
      padding:1rem; 
      margin-left: 220px;
      @include md{
        margin-left: 0;
    }
    }
  }    
  }
