@import "../../style/responsive.scss";

.layout{
  width:100%;
  .layout-component{
    display: flex;
    
     .layout-sidebar{
      
      position:-webkit-sticky;
      top:0;
      left:0;
      z-index: 999;
     }
        .layout-outlet{
          // flex:1;
          width:100%;
           overflow: auto;
          background-color:#eee;
          margin-top: 3rem;
          padding:1rem;
          
        }
      
      
  }
  }
