@import "../../style/responsive.scss";

.layout{
    background-color: rgba(250, 247, 250, 0.933);

  .layout-component{
    display: flex;
    
    .layout-sidebar{
      background-color: #fff;
      height: 100%;
      
      z-index:999;
        // @include lg{
        //     width: max-content;
        // }
      }
        
        .layout-outlet{
          width:100%;
          padding:1rem;
          background-color:#eee;
        }
      
      
  }
  }
