@import '../../style/responsive.scss';

.sidemenu{
    width:220px;
    background-color: rgb(191, 226, 191);
    height: 100vh;
    position: sticky;
    top:0;
    z-index: 999;
    left:0;
    padding: 0.5rem;
    .sidebar{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        .sidebar-logo{
            display: flex;
            align-items: center;
            gap:5px;

            .logo{
                width:50px;
                height: 50px;
                border-radius: 100%;
            }
            .logo-title{
                font-size: 1.4rem;
            }
        }
        
        .toggle-icon{
            cursor: pointer;
        }
    }
    .nav-link{
        display:flex;
        padding-top: 1rem;
        flex-direction: column;
        row-gap: 2.5rem;
        padding-left: 10px;

    .sidemenu-link{
        display:flex;
        color:#494545;
        gap:10px;
        align-items: center;
        padding:0.5rem 0;
        
         &:hover{
                background-color: green;
                color:#fff;
                border-radius: 0.3rem;
                
            }
            .icon{
                font-size: 1.5rem; 
            }
            .title{
                font-size: 1.2rem;

                // @include md{
                //     display:none;
                // }
            }
        }
    }
   &.open{
    width:80px;
    .sidebar{
        flex-direction: column;
        gap:10px;
        .sidebar-logo{
            display: flex;
            
            .logo-title{
                display: none;
            }
    }
    
    }
    
    .title{
        display: none;
    }
   }
    @include md{
        width:80px;
        .sidebar{
            display:flex;
            .sidebar-logo{
                display: flex;
                
                .logo-title{
                    display: none;
                }
            }
        }
        
        
        .title{
            display: none;
        } 
      
    }
    } 
    
