*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:inherit;
}

li{
  list-style: none;
}

.layout{
  background-color: fff;
}
.layout-component{
  display:flex;

}

.layout-sidebar{
  width:15%;
  padding:5px 20px;
  border-right: 2px solid black;
  
}
.layout-outlet{
  width:85%;
  padding:1rem;
}