html,
body,
#root{
    width:100%;
    position: relative;
    min-height: 100vh;
    background-color: yellow;
    font-family: 'Poppins', sans-serif;
}

 ::-webkit-scrollbar{
    width:100%;  
    background-color: green;  
}

/*::-webkit-scrollbar-track{
    background-color: red;
}
::-webkit-scrollbar-thumb{
    background-color: yellow;
}
::-webkit-scrollbar-track:hover{
    background-color: pink;} */

    /* general */
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
      }
      
      a{
        text-decoration: none;
        color:inherit;
      }
      
      li{
        list-style: none;
      }
      
.modal{
    margin-top: 5rem;
}
.sideDrawer-btn{
    background-color: #fff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    border: none;
}
.users{
    position: relative;
}
.btn-modal{
    display: flex;
    position: absolute;
    right: 2rem;
    top:1rem;
    border-radius: 50%;
    color:red;
    border:1px solid red;
    height: 20px;
    width: 20px;
    justify-content: center;
    cursor :pointer;
}
.css-1wnsr1i{
    max-width: 700px;
    padding: 10px;
    
}
.custom-class{
    padding: 0.5rem;
    border:none;
    color:#fff;
    font-size:1.2rem;
    width: 100%;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
}
.custom-btn{
    padding: 0.6rem 1.2rem;
    border:none;
    color:#fff;
    font-size:1.2rem;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
    cursor: pointer;
}
.btn-green{
    background-color: green;
}
.btn-red{
    background-color: red;
}
textarea{
    width:100%;
    margin: 0.5rem 0;
    border: 0.1px solid gray;
    outline: none;
    border-radius: 0.2rem;
}