.userDetail{
    width:400px;
    padding: 0.5rem;

    .userDetail-list{
        background-color: rgb(227, 243, 227);
       
        padding: 0.5rem;
        line-height: 2.8rem;
    }
    .btn{
        width:100%;
        padding:0.8rem;
        margin-top: 1rem;
        font-size: 1.2rem;
        border:none;
        color:#fff;
        border-radius:0.5rem;
    }
    .btn-edit{
        background-color: green;
    }
    .btn-delete{
        background-color: red;
    }
}
